# Date : 29/09/2026
# Auteurs : Elpidio Alexis AMOUSSOU
#           Eli Yannick HOVI
# Emails : amoussouelpidioalexis@gmail.com
#          yannickeli2007@gmail.com
# But : Fichiers et dossiers spécifiques à Windows / Visual Studio exclus de Git.

flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
