# Date : 29/09/2026
# Auteurs : Elpidio Alexis AMOUSSOU
#           Eli Yannick HOVI
# Emails : amoussouelpidioalexis@gmail.com
#          yannickeli2007@gmail.com
# But : Fichiers et dossiers spécifiques à Android exclus de Git (gradle, local.properties, keystores).

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
